/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section {
    font-family: Roboto, Times, serif;
    background-color: #1F2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Styles for nav bar */
.navbar {
    /* border: 2px solid black; */
    flex: 1;

    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    min-width: 80vw;
    margin: auto;
    gap: 15px;
}

ul a {
    color: #E5E7Eb;
    text-decoration: none;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}


/* Styles for hero section */
.hero-section {
    flex: 6;
    /* border: 2px solid black; */
    display: flex;
    width: 80vw;
    margin: auto;
    padding: 40px 0px;
    gap: 40px;
    flex-wrap: wrap;
}

.hero-text {
    /* border: 2px solid black; */
    flex: 1 1 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hero-image {
    /* border: 2px solid black; */
    flex: 1 1 350px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7Eb;
}

.sign-up {
    width: 120px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    color: white;
}

.hero-image .img {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 50%;
}

.info-section {
    margin-bottom: 100px;
}

.info-section h1 {
    /* border: 2px solid black; */
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
    text-align: center;
}

.boxes {
    /* border: 2px solid black; */
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.boxes .box {
    /* border: 2px solid black; */
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box .square {
    border: 3px solid #3882F6;
    height: 200px;
    border-radius: 15px;
}

.box .caption {
    /* border: 2px solid black; */
    text-align: center;
}

.square, .caption {
    width: 200px;
}

.quote-section
{
    /* border: 2px solid black; */
    min-height: 60vh;
    background-color: #E5E7Eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section .qoute {
    /* border: 2px solid black; */
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex: 0 2 auto;
}

blockquote {
    /* border: 2px solid black; */
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
.source {
    /* border: 2px solid black; */
    font-size: 1.5em;
    font-weight: bold;
    align-self: flex-end;
}

.subscribe-section {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.subscribe {
    background-color: #3882F6;
    border-radius: 10px;
    min-width: 60%;
    padding: 30px;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.subscribe-text {
    flex: 1 1 auto;
}

.sign-up.subscribe-sign-up{
    border: 2px solid white;
    padding: 5px 10px;
    flex: 0 1 auto;
}